<div>
  <ion-label>
            {{ label }}
            <span *ngIf="required">*</span>
  </ion-label>
  <ion-input
    type="{{type}}"
    placeholder="{{placeholder}}"
    attr.maxlength="{{maxlength}}"
    id="{{id}}"
    disabled="{{disabled}}"
    [(ngModel)]="value"
    (blur)="onBlur()"
  ></ion-input>
</div>
