<ion-content>
  <div id="content">
    <div id="welcome">
      Recovery Password
    </div>
    <div id="form">
      <form [formGroup]="passwordForm">
        <ion-item>
          <lib-input
            id="email"
            name="email"
            formControlName="email"
            [type]="'email'"
            [placeholder]="'Email'"
            [content]="''"
          >
          </lib-input>
        </ion-item>
      </form>
      <div id="button">
        <lib-button [label]="'Send'" (click)="login()"></lib-button>
      </div>
    </div>
  </div>
</ion-content>
