<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <jm-dashboard
    user="Juan Manuel Macedo Almeida"
    image="../../assets/icon/favicon.png"
  ></jm-dashboard>
</ion-content>
