<ion-content>
  <div id="content">
    <div id="welcome">
      Welcome
    </div>
    <div id="form">
      <form [formGroup]="loginForm">
        <ion-item>
          <lib-input
            formControlName="user"
            [type]="'text'"
            [placeholder]="'User'"
            [content]="''"
          >
          </lib-input>
        </ion-item>
        <ion-item>
          <lib-input
            formControlName="password"
            [type]="'password'"
            [placeholder]="'Password'"
            [content]="''"
          >
          </lib-input>
        </ion-item>
      </form>
      <div id="button">
        <lib-button [label]="'Log in'" (click)="login()"></lib-button>
      </div>
    </div>
    <div id="recovery">
      <ion-label>
        {{ recoveryLabel }}
      </ion-label>
      <ion-label id="link">
        {{ recoveryLink }}
      </ion-label>
    </div>
    <div id="register">
      <i class="fa fa-user-o" aria-hidden="true"></i>

      <ion-label>
        {{ registerLabel }}
      </ion-label>
    </div>
  </div>
</ion-content>
