<ion-content>
  <div id="content">
    <div id="welcome">
      Welcome
    </div>
    <div id="form">
      <form>
        <ion-item>
          <lib-input [type]="'text'" [placeholder]="'User'" [content]="''">
          </lib-input>
        </ion-item>
        <ion-item>
          <lib-input [type]="'text'" [placeholder]="'Password'" [content]="''">
          </lib-input>
        </ion-item>
      </form>
      <div id="button">
        <lib-button [label]="'Log in'"></lib-button>
      </div>
      <div id="recovery">
        <ion-label>
          {{ recovery }}
        </ion-label>
        <ion-label id="link">
          {{ recoveryLink }}
        </ion-label>
      </div>
    </div>
  </div>
</ion-content>
