@import 'variables';

ion-content {
  --ion-background-color: white;
}

div#content {
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 35%;
}

/** Mobile phones **/
@media (min-width: 320px) and (max-width: 480px) {
  div#content {
    margin: 5%;
    margin-top: 20%;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-height: 1310px) {
  div#content {
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
  }
}

div#welcome {
  color: #37b8bf;
  font-family: cursive;
  font-size: x-large;
  text-align: center;
  font-weight: 700;
}

form {
  text-align: center;
  ion-item {
    margin-top: 4%;
  }
}

div#button {
  margin-top: 5%;
  text-align: center;
}

div#recovery {
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(232, 235, 241);
  color: cadetblue;
  text-align: center;
  margin-top: 3%;
  text-align: center;
  padding: 12px 8px 10px;

  ion-label#link {
    font-weight: 800;
  }
}
